* {
  font-size: 20px;
}

body {
  background-color: #464646;
  color: white;
}

.addBtn {
  border: none;
  background-color: rgb(255, 215, 20);
  padding: 10px 30px;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
}

.clicked {
  background: #000;
  color: white;
}